@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap');
body{
    background-color: #26335D;
    font-family: 'Montserrat', sans-serif;
}
.header{

    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.logo{
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-top: 5px;
}
.logo a{
    text-decoration: none;
}
.navlinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}
.links{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 13px;
}
.links:hover{
    color: #8D5CF6;
}

.head-btn{
    padding-left: 100px;
}

.join{
    background: #8D5CF6;
    border-radius: 5px;
    border: none;
    width: 137px;
    height: 52px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 300px;
    
}
.join:hover{
        background-color: white;
        color: #8D5CF6;
}
.about-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0px;
}
.about-text p{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.about-text h1{
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    color: white;
}
.about-text h4{
    font-weight: normal;
    font-size: 20px;
    color: white;
    margin: 35px 0px;
    opacity: 0.8;
}
.about-btn{
    display: flex;
}
.now-btn{
    background: #8D5CF6;
    border-radius: 5px;
    border: none;
    height: 52px;
    width: 162px; 
    color: white;
    font-weight: 700;
    text-align: center;
}
.now-btn:hover{
    background-color: white;
    color: #8D5CF6;
}
.learn{
    padding-left: 20px;
}
.learn-btn{ 
    border: 1px solid #ECECEC;
    border-radius: 5px;
    height: 52px;
    width: 162px;
}
.learn-btn:hover{
    background-color: #8D5CF6;
    color: white;
    border: none;
    font-weight: 700;
}

.info-bloks{
    display: flex;  
    justify-content: space-between;
}
.info{
    align-items: flex-start;
    background-color: white;
    width: 329px;
    height: 288px;
    margin-right: 40px;
}
.info-img{
    margin-top: 35px;
    padding-left: 40px;
}
.info-h3{
    padding-left: 30px;
    margin-top: 20px;
    color: #26335D;
}
.info-h3 h3{
    font-weight: bold;
    font-size: 16px;
}
.text-info{
    padding-left: 40px;
}
.text-info p{   
    font-weight: 400;
    font-size: 14px;
    color: black;
}
.texting{
    width: 200px;
    height: 100px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 30px 0px
}
.text-footer h3{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.social-links{
    display: flex;
}
.social{
    padding-left: 30px;
}
.social h1{
    padding-left: 5px;
    font-size: 16px;
}

    